.container1 {
  background-color: #588c7e;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 18px;
}

.container2 {
  background-color: #e06377;
  color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 18px;
}

.container3 {
  background-color: #c2d4dd;
  /* color: #fff; */
  padding: 20px;
  border-radius: 20px;
  margin: 18px;
}

@media screen and (min-width: 600px) {
  .container3 {
    width: 40%;
    margin: 18px auto;
  }
  .container2 {
    width: 40%;
    margin: 18px auto;
  }
}
