body {
  background-color: #f4f4f4;

  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  color: #555555;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 370px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 770px) {
  .card {
    flex-direction: column;
  }
}

.itemContainer {
  width: 80%;
  margin: auto;
}
